<div class='post-wrap'>
  <h2 class='post-header'>Edit Post</h2>

  <form class='edit-post-form'>
    <div class='form-wrap'>
      <label for='post-title'>Title</label>
      <input
        class='form-input'
        type='text'
        value='{{postTitle}}'
        id='post-title'
      />
    </div>
    <div class='form-wrap'>
      <label for='post-text'>Content</label>
      <input
        class='form-input'
        type='text'
        value='{{postText}}'
        id='post-text'
      />
    </div>
    <div class='form-wrap'>
      <button class='btn' type='submit'>Update Post</button>
    </div>
    <div class='form-wrap'>
      <button
        id='delete'
        class='btn'
        value='{{id}}'
        type='click'
      >Delete</button>
    </div>
  </form>
</div>

<script src='/js/editpost.js'></script>