<div class='login-wrapper'>
  <h2 class='login-header'>Login</h2>

  <form class='login-form'>
    <div class='form-wrap'>
      <label for='username-login'>Username</label>
      <input class='form-input' type='text' id='username-login' />
    </div>
    <div class='form-wrap'>
      <label for='password-login'>Password</label>
      <input class='form-input' type='password' id='password-login' />
    </div>
    <div class='form-wrap'>
      <button class='btn' type='submit'>Login!</button>
    </div>
  </form>
  <a href='/signup'>Sign Up Instead</a>
</div>

<script src='./js/login.js'></script>