<div class='post-wrap'>
  <h2 class='post-header'>Create New Post</h2>

  <form class='new-post-form'>
    <div class='form-wrap'>
      <label for='post-title'>Title</label>
      <input class='form-input' type='text' id='post-title' />
    </div>
    <div class='form-wrap'>
      <label for='post-text'>Content</label>
      <input class='form-input' type='text' id='post-text' />
    </div>
    <div class='form-wrap'>
      <button class='btn' type='submit'>Create</button>
    </div>
  </form>
</div>

<script src='/js/newpost.js'></script>