<div class='login-wrapper'>
  <h2 class='login-header'>Sign up</h2>

  <form class='login-form'>
    <div class='form-wrap'>
      <label for='username-login'>Username</label>
      <input class='form-input' type='text' id='username-login' />
    </div>
    <div class='form-wrap'>
      <label for='password-login'>Password</label>
      <input class='form-input' type='password' id='password-login' />
    </div>
    <div class='form-wrap'>
      <button class='login-btn' type='submit'>Sign up!</button>
    </div>
  </form>
  <a class='switch' href='/login'>Login Instead</a>
</div>

<script src='/js/signup.js'></script>